//Fonts
$initialFontSize: 14px;
$fontFamily1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

//Colors
$bodyBgColor: #f5f5f5;

$black: rgb(20, 20, 20);
$white: #fff;
$ultraLightGrey: #dbdbdb;

$color1: #2c3e50;

$topbarNav-Color: rgba(255, 255, 255, 0.6);
$card-Footer: #f4f4f4;
$card-FooterBorder: #dbdbdb;

$articleParagrapheColor: rgba(0, 0, 0, 0.6);
$seeMoreLink: #76abe1;

//Size
$container-MaxWidth: 1280px;

//Breakpoints
$break: 768px;
$breakXS: 370px;
